<html>
<title>Robson</title>
<body>
  <a href="/">Home</a>
  <a href="/sobre">Sobre</a>
  <a href="/contato">Contato</a>  
  <hr>  
  Página inicial do meu site teste
  <br>
  Soma= {{x}}
</body>
</html>
